name: Build Appliances
on:
  repository_dispatch:
    types:
    - build
  schedule:
  - cron: 0 0 * * 0
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  setup:
    runs-on: self-hosted
    steps:
    - name: Clone Imagefactory
      run: git clone https://www.github.com/bdunne/imagefactory.git /build/gha/$GITHUB_RUN_ID/imagefactory
  build_appliances:
    strategy:
      max-parallel: 2
      matrix:
        target:
        - azure
        - ec2
        - gce
        - hyperv
        - libvirt
        - openstack
        - ovirt
        - vagrant
        - vsphere
    runs-on: self-hosted
    needs: setup
    env:
      TARGET_PLATFORM: "${{ matrix.target }}"
    steps:
    - uses: actions/checkout@v6
    - name: Build appliance images
      env:
        S3_ACCESS_KEY: "${{ secrets.S3_ACCESS_KEY }}"
        S3_ENDPOINT: "${{ secrets.S3_ENDPOINT }}"
        S3_SECRET_KEY: "${{ secrets.S3_SECRET_KEY }}"
      run: ruby scripts/vmbuild.rb --type nightly --reference $GITHUB_REF_NAME --copy-dir $GITHUB_REF_NAME --only $TARGET_PLATFORM --upload --delete | tee -a /build/logs/${GITHUB_REF_NAME}_$(date +'%Y%m%d')_${GITHUB_RUN_ID}.log
