---
name: CI
on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * *
  workflow_dispatch:
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
        - '3.3'
    env:
      BUNDLE_PATH: scripts/vendor/bundle
    steps:
    - uses: actions/checkout@v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby-version }}"
        working-directory: scripts
        bundler-cache: true
      timeout-minutes: 30
    - name: Run tests
      run: bundle exec rake
